

<!-- <nav>
  <div class="container">
    <div class="content">
      <h2 class="logo">Market</h2>
      <ul>
        <li routerLink="/">Products</li>
        <li routerLink="/cart">Cart</li>
      </ul>
    </div>
  </div>
</nav> -->


<!--TODO my code -->


<nav>
  <div class="container">
    <div class="content">
      <h2 class="logo">Market</h2>
      <ul>
        <li routerLink="/">Products</li>
        <li routerLink="/cart"><i class="fa-sharp fa-solid fa-cart-plus"></i></li>
      </ul>
    </div>
  </div>
</nav>


